body {
    background-color: palevioletred;
}
header {
    height: 10vh;
    background-color: antiquewhite;
}
main {
    min-height: 80vh;
}
h1 {
    color: white;
}
#logo {
    width: 8rem;
    height: 3rem;
}
#img img {
    width: 15.8rem;
    height: 10rem;
    margin: 1rem;
    background-size: cover;
}
.home {
    width: 70rem;
    height: 150rem;
}
#cover {
    height: 28rem;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
footer {
    height: 10vh;
    background-color: antiquewhite;
}
.red img {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;   
}
.decorate {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.decorate1 {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 30px;
}
.av img {
    width: 25rem;
    height: 25rem;
}
.av {
    width: 25rem;
    height: 25rem;
    text-align: center;
    border: 3px solid palevioletred;
}
.detail {
    width: 55rem;
    height: 30rem;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 30px;
}
table, tr, th, td {
    border: 2px solid palevioletred;
    border-collapse: collapse;
}
table {
    text-align: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 30px;
}
.max {
    height: 4rem;
    background-color: antiquewhite;
}
